### Load Dataset

In [31]:
import pandas as pd
import glob
import os
import numpy as np
from tqdm import tqdm

In [18]:
# create path to read all .csv files in one folder
path = r'D:\Coding\Personal Projects\Google Data Analytics Capstone\dataset' 
all_files = glob.glob(os.path.join(path , "*.csv"))

In [19]:
# load .csv files
df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

In [20]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,9DC7B962304CBFD8,electric_bike,2021-09-28 16:07:10,2021-09-28 16:09:54,NaN,NaN,NaN,NaN,41.89,-87.68,41.89,-87.67,casual
1,F930E2C6872D6B32,electric_bike,2021-09-28 14:24:51,2021-09-28 14:40:05,NaN,NaN,NaN,NaN,41.94,-87.64,41.98,-87.67,casual
2,6EF72137900BB910,electric_bike,2021-09-28 00:20:16,2021-09-28 00:23:57,NaN,NaN,NaN,NaN,41.81,-87.72,41.80,-87.72,casual
3,78D1DE133B3DBF55,electric_bike,2021-09-28 14:51:17,2021-09-28 15:00:06,NaN,NaN,NaN,NaN,41.80,-87.72,41.81,-87.72,casual
4,E03D4ACDCAEF6E00,electric_bike,2021-09-28 09:53:12,2021-09-28 10:03:44,NaN,NaN,NaN,NaN,41.88,-87.74,41.88,-87.71,casual

What we're trying to achieve is to find any pattern based on trip data, for those who are member or casual riders.
The variables that seems to be useful are:
 - rideable_type
 - started_at
 - ended_at
 - start_lat
 - start_lng
 - end_lat
 - end_lng
 - member_casual

we wont be using ride_id, since its just unique identifier for each row in the dataset. As for station names and id, I dont think its relevant for this analysis purpose. unless what we trying to achieve is boost our service in a certain area

### Check categorical variables if there's any typo and null values

In [21]:
df['rideable_type'].value_counts()

classic_bike     2896658
electric_bike    2778399
docked_bike       207986
Name: rideable_type, dtype: int64

In [22]:
df['member_casual'].value_counts()

member    3414564
casual    2468479
Name: member_casual, dtype: int64

In [23]:
df.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    884365
start_station_id      884363
end_station_name      946303
end_station_id        946303
start_lat                  0
start_lng                  0
end_lat                 5727
end_lng                 5727
member_casual              0
dtype: int64

In [24]:
df.shape[0]

5883043

### Steps:
Drop rows with null latitude

In [25]:
df.dropna(subset=['end_lat', 'end_lng'], inplace = True)
df.reset_index(drop = True, inplace = True)

Drop id and station column since it won't be used in this analysis

In [26]:
df = df.drop(['ride_id', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id'], axis = 1)
df.head()

,rideable_type,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual
0,electric_bike,2021-09-28 16:07:10,2021-09-28 16:09:54,41.89,-87.68,41.89,-87.67,casual
1,electric_bike,2021-09-28 14:24:51,2021-09-28 14:40:05,41.94,-87.64,41.98,-87.67,casual
2,electric_bike,2021-09-28 00:20:16,2021-09-28 00:23:57,41.81,-87.72,41.80,-87.72,casual
3,electric_bike,2021-09-28 14:51:17,2021-09-28 15:00:06,41.80,-87.72,41.81,-87.72,casual
4,electric_bike,2021-09-28 09:53:12,2021-09-28 10:03:44,41.88,-87.74,41.88,-87.71,casual

Calculate duration by subtracting ended_at and started_at. Split started_at by day, month and year.

In [27]:
from datetime import datetime, time

In [32]:
temp1 = []
temp2 = []
temp3 = []
temp4 = []
temp5 = []
temp6 = []
temp7 = []

for i in tqdm(range(df.shape[0])):
    temp1.append(datetime.strptime(df['started_at'][i], '%Y-%m-%d %H:%M:%S'))
    temp2.append(datetime.strptime(df['ended_at'][i], '%Y-%m-%d %H:%M:%S'))
    a = temp2[i] - temp1[i]
    temp3.append(a.seconds)
    
    temp4.append(temp1[i].year)
    temp5.append(temp1[i].month)
    temp6.append(temp1[i].strftime('%A'))
#     if b == 'Monday':
#         temp6.append(1)
#     elif b == 'Tuesday':
#         temp6.append(2)
#     elif b == 'Wednesday':
#         temp6.append(3)
#     elif b == 'Thursday':
#         temp6.append(4)
#     elif b == 'Friday':
#         temp6.append(5)
#     elif b == 'Saturday':
#         temp6.append(6)
#     else:
#         temp6.append(7)
    temp7.append(temp1[i].hour)

df['duration'] = temp3

df['hour'] = temp7
df['day'] = temp6
df['month'] = temp5
df['year'] = temp4


# to clear memory
temp1 = []
temp2 = []
temp3 = []
temp4 = []
temp5 = []
temp6 = []
temp7 = []

100%|█████████████████████████████████████████████████████████████████████| 5877316/5877316 [08:18<00:00, 11797.16it/s]

In [33]:
df.head()

,rideable_type,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual,duration,hour,day,month,year
0,electric_bike,2021-09-28 16:07:10,2021-09-28 16:09:54,41.89,-87.68,41.89,-87.67,casual,164,16,Tuesday,9,2021
1,electric_bike,2021-09-28 14:24:51,2021-09-28 14:40:05,41.94,-87.64,41.98,-87.67,casual,914,14,Tuesday,9,2021
2,electric_bike,2021-09-28 00:20:16,2021-09-28 00:23:57,41.81,-87.72,41.80,-87.72,casual,221,0,Tuesday,9,2021
3,electric_bike,2021-09-28 14:51:17,2021-09-28 15:00:06,41.80,-87.72,41.81,-87.72,casual,529,14,Tuesday,9,2021
4,electric_bike,2021-09-28 09:53:12,2021-09-28 10:03:44,41.88,-87.74,41.88,-87.71,casual,632,9,Tuesday,9,2021

In [34]:
df['duration'].value_counts(sort = False).sort_index()

0         471
1        1408
2        5113
3        3049
4        2482
         ...
86394       2
86395       3
86397       3
86398       2
86399       4
Name: duration, Length: 21568, dtype: int64

There are many trips with 0 and 1 second long, so we decide to drop them

In [35]:
df = df[df['duration'] > 1]
df.reset_index(drop = True, inplace = True)
df.head()

,rideable_type,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual,duration,hour,day,month,year
0,electric_bike,2021-09-28 16:07:10,2021-09-28 16:09:54,41.89,-87.68,41.89,-87.67,casual,164,16,Tuesday,9,2021
1,electric_bike,2021-09-28 14:24:51,2021-09-28 14:40:05,41.94,-87.64,41.98,-87.67,casual,914,14,Tuesday,9,2021
2,electric_bike,2021-09-28 00:20:16,2021-09-28 00:23:57,41.81,-87.72,41.80,-87.72,casual,221,0,Tuesday,9,2021
3,electric_bike,2021-09-28 14:51:17,2021-09-28 15:00:06,41.80,-87.72,41.81,-87.72,casual,529,14,Tuesday,9,2021
4,electric_bike,2021-09-28 09:53:12,2021-09-28 10:03:44,41.88,-87.74,41.88,-87.71,casual,632,9,Tuesday,9,2021

Calculate travelled distance using Haversine Formula, make new column called 'distance'. Haversine formula will result in Kilometer, then calculate speed in Km/h based on distance and duration

In [36]:
from haversine import haversine, Unit

In [37]:
temp1 = []
temp2 = []

for i in range(df.shape[0]):
    start = (df['start_lat'][i], df['start_lng'][i])
    end = (df['end_lat'][i], df['end_lng'][i])
    temp1.append(haversine(start, end))
    
    temp2.append(round(temp1[i] / (df['duration'][i] / 3600), 2))
    
df['distance'] = temp1
df['speed'] = temp2


# to clear memory
temp1 = []
temp2 = []

In [38]:
df['distance'].value_counts().sort_index()

0.000000       347619
0.000020            1
0.000023            1
0.000033            1
0.000033            1
                ...
31.008517           1
37.678748           1
42.272164           1
114.383728          1
1189.523646         1
Name: distance, Length: 2065727, dtype: int64

In [39]:
df['distance'].value_counts(bins = 10)

(-1.1909999999999998, 118.952]    5875436
(1070.571, 1189.524]                    1
(951.619, 1070.571]                     0
(832.667, 951.619]                      0
(713.714, 832.667]                      0
(594.762, 713.714]                      0
(475.809, 594.762]                      0
(356.857, 475.809]                      0
(237.905, 356.857]                      0
(118.952, 237.905]                      0
Name: distance, dtype: int64

there are rows with very small distance, so we decided to those who travels less than 1 meter

In [40]:
df = df[df['distance'] > 0.001]
df.reset_index(drop = True, inplace = True)
df.head()

,rideable_type,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual,duration,hour,day,month,year,distance,speed
0,electric_bike,2021-09-28 16:07:10,2021-09-28 16:09:54,41.89,-87.68,41.89,-87.67,casual,164,16,Tuesday,9,2021,0.827767,18.17
1,electric_bike,2021-09-28 14:24:51,2021-09-28 14:40:05,41.94,-87.64,41.98,-87.67,casual,914,14,Tuesday,9,2021,5.092762,20.06
2,electric_bike,2021-09-28 00:20:16,2021-09-28 00:23:57,41.81,-87.72,41.80,-87.72,casual,221,0,Tuesday,9,2021,1.111951,18.11
3,electric_bike,2021-09-28 14:51:17,2021-09-28 15:00:06,41.80,-87.72,41.81,-87.72,casual,529,14,Tuesday,9,2021,1.111951,7.57
4,electric_bike,2021-09-28 09:53:12,2021-09-28 10:03:44,41.88,-87.74,41.88,-87.71,casual,632,9,Tuesday,9,2021,2.483691,14.15

In [41]:
df['speed'].value_counts().sort_index()

0.00         4103
0.01        10829
0.02         6885
0.03         4477
0.04         3416
            ...
1540.87         1
1873.61         1
2244.03         1
3747.60         1
27627.65        1
Name: speed, Length: 11325, dtype: int64

In [42]:
df['speed'].value_counts(bins = 10)

(-27.629, 2762.765]      5526318
(24864.885, 27627.65]          1
(2762.765, 5525.53]            1
(22102.12, 24864.885]          0
(19339.355, 22102.12]          0
(16576.59, 19339.355]          0
(13813.825, 16576.59]          0
(11051.06, 13813.825]          0
(8288.295, 11051.06]           0
(5525.53, 8288.295]            0
Name: speed, dtype: int64

A garden snail moves at the speed of 0.48Km/h. We decided to drop rows that has a speed slower than a snail (0.48Km/h), and faster than 80Km/h. While speed around 80Km/h might be amongst athletes, we didn't think it's easily achievable by daily bike commuter.

In [43]:
df = df[df['speed'] > 0.48]
df.reset_index(drop = True, inplace = True)

df = df[df['speed'] < 80]
df.reset_index(drop = True, inplace = True)

df['speed'].value_counts().sort_index()

0.49     1536
0.50     1515
0.51     1497
0.52     1467
0.53     1528
         ...
79.92       1
79.94       1
79.95       1
79.96       1
79.99       1
Name: speed, Length: 6394, dtype: int64

In [44]:
df['speed'].value_counts(bins = 10)

(8.44, 16.39]     3252571
(0.409, 8.44]     1529611
(16.39, 24.34]     601937
(24.34, 32.29]      26078
(32.29, 40.24]       3933
(40.24, 48.19]       1691
(48.19, 56.14]       1057
(56.14, 64.09]        815
(64.09, 72.04]        624
(72.04, 79.99]        588
Name: speed, dtype: int64

In [45]:
df.shape[0]

5418905

sort values by ride start date

In [46]:
df.sort_values(by=['started_at'], inplace = True)
df.head()

,rideable_type,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual,duration,hour,day,month,year,distance,speed
173291,classic_bike,2021-09-01 00:00:06,2021-09-01 00:03:37,41.918216,-87.656936,41.920771,-87.663712,member,211,0,Wednesday,9,2021,0.628512,10.72
210082,electric_bike,2021-09-01 00:00:14,2021-09-01 00:14:53,41.878002,-87.644365,41.911933,-87.632009,casual,879,0,Wednesday,9,2021,3.909099,16.01
111999,classic_bike,2021-09-01 00:00:17,2021-09-01 00:07:02,41.884069,-87.656853,41.885920,-87.667170,casual,405,0,Wednesday,9,2021,0.878525,7.81
358149,classic_bike,2021-09-01 00:00:17,2021-09-01 00:16:18,41.890847,-87.618617,41.883073,-87.656952,casual,961,0,Wednesday,9,2021,3.289041,12.32
552834,classic_bike,2021-09-01 00:00:33,2021-09-01 00:12:33,41.870769,-87.625734,41.853085,-87.631931,member,720,0,Wednesday,9,2021,2.032292,10.16

Drop latitudes, longitudes, start time and end time since we're already extracted new variables from it

In [47]:
df.drop(['started_at', 'ended_at', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis = 1, inplace = True)
df.head()

,rideable_type,member_casual,duration,hour,day,month,year,distance,speed
173291,classic_bike,member,211,0,Wednesday,9,2021,0.628512,10.72
210082,electric_bike,casual,879,0,Wednesday,9,2021,3.909099,16.01
111999,classic_bike,casual,405,0,Wednesday,9,2021,0.878525,7.81
358149,classic_bike,casual,961,0,Wednesday,9,2021,3.289041,12.32
552834,classic_bike,member,720,0,Wednesday,9,2021,2.032292,10.16

### Data Cleaning is done, export the cleaned dataset as .csv

In [48]:
df.to_csv('cleaned.csv', index = False)